* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: white;
  color: black;
  padding: 20px;
}

#search {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto 25px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 5px;
  font-size: 14px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 16px;
}

.card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card p {
  padding: 10px;
  font-size: 14px;
}
